.header {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 20px 40px;

    background-color: transparent;

    z-index: 10;

    box-sizing: border-box;
}

.logo-container {
    display: flex;
    align-items: center;

    color: white;
    font-size: 20px;
    font-weight: 600;
}

.nav-container {
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-container li {
    list-style: none;
}

.nav-container li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}